@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  --color-bg:  #F2F2F2;
  --color-alt-bg:  #00254e;
  --color-foreground: #00142b;
  --color-brand-600:  #034C8C;   
  --color-brand-700:  #023059;    
  --color-brand-800:  #78A633;   
  --color-brand-foreground:  #FFFFFF;
  --color-accent-600:  #BCD539;
  --color-success:  #78A633;   
  --color-danger:  #E20026;      
  --color-surface-1:  #023059;    
  --color-surface-2:  #15324D;   

  font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-foreground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


